name: Test
on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "*"
    tags-ignore:
      - "v*"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - run: bun install --frozen-lockfile
      - run: bun run build
      - run: bun run test
